# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Vim Stuff
*.swp
*.swo

# Git stuff
*.bundle

# Mac stuff
*.DS_Store

# Remote Sync Stuff
*.remote-sync.json

# Geany's Project
.project
.geanywb

# Visual Studio Code
.vscode
*.code-workspace

smtplib
*.project

# SQLite3 databases
*.db

# Arbiter specific
logs/
# (ignore etc/sitename/)
etc/*/*
*.exitfile

# Extraneous Debian Packaging Files
debian/.debhelper/
debian/arbiter2.debhelper.log
debian/arbiter2.postinst.debhelper
debian/arbiter2.postrm.debhelper
debian/arbiter2.prerm.debhelper
debian/arbiter2.substvars
debian/arbiter2/
debian/debhelper-build-stamp
debian/files

